@page
@model Friberg_car_rentals_v2.Pages.Cars.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Bil-Index</h1>
<p>
    Du är inloggad som @ViewData["CurrentAdmin"]
</p>
<p>
    <a asp-page="Create">Lägg till bil</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarMake)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].RentalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CurrentlyAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Car) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarMake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentlyAvailable)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CarId">Ändra</a> |
                <a asp-page="./Details" asp-route-id="@item.CarId">Detaljer</a> |
                <a asp-page="./Delete" asp-route-id="@item.CarId">Ta bort</a>
            </td>
        </tr>
}
    </tbody>
</table>
