@page
@model Friberg_car_rentals_v2.Pages.Bookings.DetailsModel

@{
    ViewData["Title"] = "Detaljer";
}

<h1>Detaljer</h1>

<div>
    <h4>Bokning</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.BookingId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.BookingId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.CarMake)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.CarMake)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.CarModel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.CarModel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.RentalStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.RentalStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.RentalEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.RentalEnd)
        </dd>
    </dl>
    @if (Model.Car.CarImageURL != null)
    {
        <div class="image-container">
            <img src="@Model.Car.CarImageURL" alt="Bild på bilen" style="object-fit: contain" />
        </div>
    }
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Booking.BookingId">Ändra datum</a>
    @if (ViewData["CurrentUserId"] != null)
    {
        <a asp-page="./ListCustomerBookings"> | Tillbaka</a>
    }
    @if (ViewData["CurrentAdmin"] != null)
    {
        <a asp-page="./Index"> | Tillbaka</a>
    }
</div>
