@page
@model Friberg_car_rentals_v2.Pages.Bookings.ListCustomerBookingsModel

@{
    ViewData["Title"] = "ListCustomerBookings";
}

<h1>ListCustomerBookings</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].RentalStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].RentalEnd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RentalStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalEnd)
            </td>
            <td>                
                <a asp-page="./Details" asp-route-id="@item.BookingId">Detaljer</a> |
                <a asp-page="./Delete" asp-route-id="@item.BookingId">Ta bort</a>
            </td>
        </tr>
}
    </tbody>
</table>
