@page
@model Friberg_car_rentals_v2.Pages.Admins.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Admin</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.AdminFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.AdminFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.AdminLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.AdminLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.AdminEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.AdminEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.AdminPassword)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.AdminPassword)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Admin.AdminId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
