@page
@model Friberg_car_rentals_v2.Pages.Admins.DetailsModel

@{
    ViewData["Title"] = "Detaljer";
}

<h1>Detaljer</h1>

<div>
    <h4>Admin</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Admin.Id">Ändra</a> |
    <a asp-page="./Index">Tillbaka</a>
</div>
